body {
	height: 300px;
  background-image: linear-gradient(red, yellow, blue, pink, purple, gold, magenta);
}
.form{
    width: 90%;
    height: 90%;
    margin: 0 auto;
	background-color: white;
	border-radius: 2em;
}
.flexy{
	display: flex;
	/*width: 100%;*/
}
.what{
	width: 100000px;
}
